---
- name: Install nginx
  become: yes
  yum:
    name: nginx
    state: present

- name: Enable and start nginx
  become: yes
  systemd:
    name: nginx
    enabled: yes
    state: started

- name: Deploy FastAPI reverse proxy config
  template:
    src: fastapi.conf.j2
    dest: /etc/nginx/conf.d/fastapi.conf
    owner: root
    group: root
    mode: "0644"
  notify: Reload nginx



# # -----------------------------
# # Firewall configuration
# # -----------------------------

# - name: Ensure firewalld is installed
#   become: yes
#   yum:
#     name: firewalld
#     state: present

# - name: Ensure firewalld is running
#   become: yes
#   systemd:
#     name: firewalld
#     state: started
#     enabled: yes

# # Inbound HTTP (nginx)
# - name: Allow HTTP service (80/tcp)
#   become: yes
#   ansible.posix.firewalld:
#     service: http
#     permanent: yes
#     state: enabled
#     immediate: yes

# # Outbound DNS (yum, curl 필수)
# - name: Allow DNS service
#   become: yes
#   ansible.posix.firewalld:
#     service: dns
#     permanent: yes
#     state: enabled
#     immediate: yes

# # Outbound HTTPS (yum, pip, 외부 통신)
# - name: Allow HTTPS service
#   become: yes
#   ansible.posix.firewalld:
#     service: https
#     permanent: yes
#     state: enabled
#     immediate: yes

# # ICMP (ping 허용)
# - name: Allow ICMP (ping)
#   become: yes
#   ansible.posix.firewalld:
#     icmp_block: echo-request
#     state: disabled
#     permanent: yes
#     immediate: yes

